/.direnv/
/.pre-commit-config.yaml
*.tar.gz
result
result/
.terraform/
.terraform.lock.hcl
mods/neomutt/neomutt-pass-acc/.direnv/
mods/neomutt/neomutt-pass-acc/.envrc
mods/neomutt/neomutt-pass-acc/target/
mods/private
